@{
    ViewBag.Title = "Home Page";
}
<br>
<p>
    @Html.ActionLink("Create Envelope", "CreateEnvelope", null, new {@id="createEnvelope", @class= "btn btn-success" } )
</p>

<br>
<table>
<tr>
    <td>
        <div class="panel panel-primary" style="max-width: 90%">
            <div class="panel-heading">
                <h3 class="panel-title">DocuSign.eSign Library</h3>
            </div>
            <div class="panel-body">
                This application is built using DocuSign.eSign library that can be downloaded as a NuGet package for your integration project.
            </div>
        </div>
    </td>
    <td>
        <div class="panel panel-primary" style="max-width: 90%">
            <div class="panel-heading">
                <h3 class="panel-title">DocuSign Dev Center</h3>
            </div>
            <div class="panel-body">
                Ready-to-use receipes and other valuable information can be found at Docusign dev center.
            </div>
        </div>
    </td>
    <td>
        <div class="panel panel-primary" style="max-width: 90%">
            <div class="panel-heading">
                <h3 class="panel-title">DocuSign on Stack Overflow</h3>
            </div>
            <div class="panel-body">
                If you need quick answer to your question you can ask Docusign community on Stack Overflow
            </div>
        </div>
    </td>
</tr>
</table>







